In [2]:
# Data Types

#Integers
x=89635
print("X value:-",x)
print(type(x))

a=979
print("a value:-",a)

X value:- 89635
<class 'int'>
a value:- 979

In [3]:
#float

f=5873.24
print("f value:-",f)
print(type(f))

l=42.78
print("l value:-",l)

f value:- 5873.24
<class 'float'>
l value:- 42.78

In [5]:
#complex

k=7657j
print("k value:-",k)
print(type(k))

t=46324j
print("t value:-",t)

k value:- 7657j
<class 'complex'>
t value:- 46324j

In [6]:
#boolean

s=21
j=7
n=s<=j
print(n)
print(type(n))

num=10>9
print(num)

False
<class 'bool'>
True

In [7]:
#String

name="navya"
print(type(name))
print("Length:-",len(name))
print("Upper_case:-",name.upper())
print("Lower_case:-",name.lower())

#Slicing:-To get a range of characters
k="Python is  programming language"
print("Slicing:-",k[0:10]) #from 0 index to 10th index
print(k[5:])#we get whole string from 5th index
print(k[:12])#we get the output from 0 to the end point
print(k[ : ])#we get the whole string
print(k[0:15:2])#we get the output from 0 to 15 index and skips 2 indexs
print(k[: :-1])#Reversing a string
print(name.capitalize())#capitalize the first char in string
print(k.count('a'))#count of the specified value
print(name.find('y'))#finds index of the specified value
print(k.index('t'))#index number of the specified value
print(name.isalnum())
print(name.isalpha())
print(name.isdecimal())
print(name.islower())
print(name.isupper())
print(name.replace('u','h' ))
print(name.strip())
print(name.startswith('h'))
print(name.endswith('v'))
print(name.split())


#String Operations

a="navya"
b="orthodox"
print(a+" "+b)
print(a*3)
print(a+b*2)


#String Interpolation

k="Python"
p="programming"

c='%s is a %s language'%(k,p)
print(c)

x=f'{k} is a {p} language'
print(x)

z='{k} is a {p} language'.format(k=k,p=p)
print(z)

from string import Template
h=Template('$k is a $p language')
print(h.substitute(k=k,p=p))

<class 'str'>
Length:- 5
Upper_case:- NAVYA
Lower_case:- navya
Slicing:- Python is
n is  programming language
Python is  p
Python is  programming language
Pto s rg
egaugnal gnimmargorp  si nohtyP
Navya
3
3
2
True
True
False
True
False
navya
navya
False
False
['navya']
navya orthodox
navyanavyanavya
navyaorthodoxorthodox
Python is a programming language
Python is a programming language
Python is a programming language
Python is a programming language

In [8]:
#List DataType

mylist=[563,'orthodox','work-holic',23543,'navya',765,'AIT',87.54j]
print(mylist)
print(mylist[1:4])
mylist[1]='Python programming' #replacing value
print(mylist)
mylist.append('complex')
print(mylist)
mylist.insert(4,'programming')
print(mylist)
mylist.reverse()
print(mylist)

[563, 'orthodox', 'work-holic', 23543, 'navya', 765, 'AIT', 87.54j]
['orthodox', 'work-holic', 23543]
[563, 'Python programming', 'work-holic', 23543, 'navya', 765, 'AIT', 87.54j]
[563, 'Python programming', 'work-holic', 23543, 'navya', 765, 'AIT', 87.54j, 'complex']
[563, 'Python programming', 'work-holic', 23543, 'programming', 'navya', 765, 'AIT', 87.54j, 'complex']
['complex', 87.54j, 'AIT', 765, 'navya', 'programming', 23543, 'work-holic', 'Python programming', 563]

In [9]:
#Dictionary DataType

Courses={1:'C',2:'C++',3:'Java',4:'Python',5:'SQL',6:'Data Science'}
print(Courses)
print(Courses[5])
print(Courses.get(2))
Courses[6]='Data Analyst' #replacing or updating
print(Courses)
print(Courses[4])

{1: 'C', 2: 'C++', 3: 'Java', 4: 'Python', 5: 'SQL', 6: 'Data Science'}
SQL
C++
{1: 'C', 2: 'C++', 3: 'Java', 4: 'Python', 5: 'SQL', 6: 'Data Analyst'}
Python

In [11]:
#Tuple DataType

games=('ludo','tryp rush','shuttle','cricket','car games',)
print(games)
print(games.count('khaleja'))
print(games[3])

('ludo', 'tryp rush', 'shuttle', 'cricket', 'car games')
0
cricket

In [12]:
##Set Data-Type

myset={564,13,'navya','manusha','sindhu','orthodox',54,475}
print(myset)

{'orthodox', 'manusha', 13, 564, 54, 'sindhu', 'navya', 475}

In [14]:
#Range DataType

range(0,50)
print(list(range(51)))

a=[6757,34245,8545,964]
b={3214,674,723,5665}
c=[a,b]
print(c)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
[[6757, 34245, 8545, 964], {5665, 674, 723, 3214}]